[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaincode-evm-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-chaincode-evm-committers
[project]
	description = Hyperledger Fabric EVM chaincode
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-chaincode-evm-committers
	createTag = group ldap/hyperledger-gerrit-fabric-chaincode-evm-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-chaincode-evm-committers
[plugin "its-jira"]
	enabled = true
[plugin "slack-integration"]
	channel = fabric-ci-status
